LINKUITY_INPUT=./samples/people-multi-source/sample.csv
LINKUITY_PROFILE=./samples/people-multi-source/people-multi-source.profile.json
LINKUITY_MERGE=./samples/people-multi-source/people-multi-source.merge.json
LINKUITY_OUTPUT=./data/output/people-multi-source
LINKUITY_ARTIFACTS=./data/artifacts
